export KEY_NAME=<FILLIN>
export API_PORT=8000
export PUBLIC_URL=http://<HOST>:<PORT>
export P2P_EXTERNAL_ADDRESS=tcp://<HOST>:<PORT>
export NODE_CONFIG=./node-config.json
export HF_HOME=/mnt/shared
export SEED_API_URL=http://195.242.13.239:8000
export SEED_NODE_RPC_URL=http://195.242.13.239:26657
export SEED_NODE_P2P_URL=tcp://195.242.13.239:26656
export DAPI_API__POC_CALLBACK_URL=http://api:9100
export DAPI_CHAIN_NODE__URL=http://node:26657
export DAPI_CHAIN_NODE__P2P_URL=http://node:26656
export RPC_SERVER_URL_1=http://89.169.103.180:26657
export RPC_SERVER_URL_2=http://195.242.13.239:26657
export PORT=8080
export INFERENCE_PORT=5050